@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@{
	Layout = null;
}

@* the fun starts here *@

<head>
    <!-- meta information -->
    <meta charset="utf-8">
    <meta name="description" content="@Umbraco.Field("metaDescription")">
    <meta name="keywords" content="@Umbraco.Field("metaKeywords")">
    <meta name="author" content="@Umbraco.Field("creatorName")">
    
    <title>@Umbraco.Field("pageName")</title>
    
    <!-- bootstrap stylesheet -->
    <link rel="stylesheet" href="~/css/bootstrap.min.css">
    
    <!-- our own stylesheet -->
    <link href="~/css/style.css" rel="stylesheet">

</head>


<body>
    
    @Umbraco.RenderMacro("navigation")
    
    <div role="main" class="container">
        <div class="row">
            @RenderBody()
        </div>
    </div>
    
    <footer class="footer bg-dark">
        <div class="container text-light">
            @Umbraco.Field("footer", recursive: true)
        </div>
    </footer>
</body>

<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>