@inherits Umbraco.Web.Mvc.UmbracoTemplatePage<ContentModels.ProjectItem>
@using ContentModels = Umbraco.Web.PublishedContentModels;
@{
	Layout = "Master.cshtml";
}

<div class="col-lg-12">
    <h1>@Umbraco.Field("projectTitle")</h1>
    <div class="row">
        
        @if (Model.Content.HasValue("projectStatus"))
        {
            var projectStatus = Umbraco.GetPreValueAsString(Model.Content.GetPropertyValue<int>("projectStatus"));

            DateTime date = Model.Content.GetPropertyValue<DateTime>("projectTime");

            <div class="info col-lg-12">
                <p><b>Projekt start:</b> @date.ToString("MM/yyyy")</p>
                <p><b>Projektstatus:</b> @projectStatus</p>
            </div>
        }
        
        <div class="col-lg-10">@Umbraco.Field("projectDescription")</div>
        <div class="col-lg-2">
            @{
                var typedMultiMediaPicker = Model.Content.GetPropertyValue<IEnumerable<IPublishedContent>>("projectImages");
                foreach (var item in typedMultiMediaPicker)
                {
                    <img src="@item.Url" style="width:100%"/>
                }
            }
        </div>
    </div>
</div>